@font-face {
  font-family: 'Montserrat-regular';
  src: url(./assets/font/Montserrat-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat-medium';
  src: url(./assets/font/Montserrat-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url(./assets/font/Montserrat-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat-black';
  src: url(./assets/font/Montserrat-Black.woff) format('woff');
}
@font-face {
  font-family: 'Cinzel-regular';
  src: url(./assets/font/Cinzel-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Cinzel-Bold';
  src: url(./assets/font/Cinzel-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Cinzel-Black';
  src: url(./assets/font/Cinzel-Black.woff) format('woff');
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: #313131;
  
}
body {
  background-color: #F1F9FF ;
}

.container {
  width: 1200px;
  margin: 40px auto;
  overflow-y: auto;
}
.info_area{
  max-width: 1460px;
  display: flex;
  flex-wrap: wrap;
}

.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}

.containerTitle {
  text-align: center;
  width: 12%;
  padding-left: 10px;
}

.homeTitle {
  font-size: 48px;
  font-family: 'Cinzel-Bold';
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  font-family: 'Cinzel-Black';
}

.subTitle {
  font-size: 22px;
  font-family: 'Cinzel-Black';
}

.header {
  background-color: #FCFC99;
  height: 67px;
  box-shadow: -3px 2px 3px #00000029;
}

.footer {
  position: fixed;
  height: 60px;
  background-color: #FCFC99;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
  box-shadow: 2px -3px 3px #00000029;
}
.form {
  width: 40%;
  display: block;
}
input, select{
  height: 40px;
  border: 1px solid #BCE0FD;
  width: 100%;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 24px;
}

label, option, input, select {
  font-size: 16px;
  color: #3C5C77;
  font-family: 'Montserrat-medium';
}

input:focus, select:focus, button:focus{
  outline: none;
}

input, select{
  text-indent: 16px
}

button {
  border: none;
  background-color: #F1F9FF;
  box-shadow: 3px 3px 5px #00000029, -3px -3px 5px #FFFFFFC9;
  border-radius: 3px;
  height: 50px;
  width: 60%;
  font-family: 'Cinzel-Bold';
  font-size: 20px;
  cursor: pointer;
}

input::placeholder{
  font-size: 16px;
  color: #95A0A6;
  font-family:'Montserrat-medium';
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}